body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #1a2a3a, #3a4a6a);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.game-container {
  display: contents;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: -1000px -500px; }
}
#maze-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
#maze {
  position: relative;
  background: url('/images/galaxy2.jpg') repeat;
  animation: moveBackground 45s ease-in-out infinite alternate;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  justify-content: center;
  align-content: center;
}

#title-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
#title-screen img {
  width: 80%;
  max-width: 600px;
}

.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
}

.player, .exit, .powerup, .enemy, .wall-image {
  position: absolute;
  width: var(--item-size);
  height: var(--item-size);
  background-size: 100% 100%;
}

.player {
  background-image: url('/images/sagamonke.gif');
  background-size: cover;
}

.player.flip-horizontal {
  transform: scaleX(-1);
}

.exit {
  background-image: url('/images/exit.gif');
  background-size: cover;
}

.powerup {
  background-size: cover;
}

.item_energy {
  background-image: url('/images/energy.gif');
}

.item_boots {
  background-image: url('/images/boots.gif');
}

.item_gloves {
  background-image: url('/images/gloves.gif');
}

.item_shield {
  background-image: url('/images/shield.gif');
}

.item_speed {
  background-image: url('/images/speed.gif');
}

.item_backpack {
  background-image: url('/images/backpack.gif');
}

.enemy {
  background-image: url('/images/enemy.gif');
  background-size: cover;
}

.fade-overlay {
  position: absolute;
  pointer-events: none;
  background: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%);
}

.message {
  position: absolute;
  font-size: 1rem;
  color: #ffd700; /* Same as the player's color */
  animation: moveUp 3s ease-out;
  pointer-events: none; /* Ensure the message does not interfere with clicks */
}

.message-counter-flip {
  transform: scaleX(-1);
}

@keyframes moveUp {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-50px);
      opacity: 0;
  }
}

#level-complete-animation {
  position: absolute;
  top: 2%;
  width: 10%;
  height: 10%;
  background-image: url('/images/exit.gif');
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

@keyframes expand-and-fade {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(1.5);
      opacity: 0;
  }
}

.game-over-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  cursor: pointer;
}

#hud {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.left-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}

.left-box .asset-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bar-container div:first-child {
  margin-right: 10px;
  width: 80px;
}

#energy-bar, #progress-bar {
  flex: 1;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  overflow: hidden;
}

#energy-bar-inner {
  height: 100%;
  background-color: #1bbf85;
  transition: width 0.3s ease;
}

#progress-bar-inner {
  height: 100%;
  background-color: #ffd700;
  transition: width 0.3s ease;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 75px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 0.6em;
}

.check-assets {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}

#stat-level, #stat-attack, #stat-defense, #stat-speed, #stat-consumption {
  font-size: 2em;
}

/* Custom styling for wallet adapter button */
.wallet-adapter-button {
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 6px;
  line-height: 24px;
  height: 36px;
}

.wallet-adapter-button img {
  width: 20px;
  height: 20px;
}

.wallet-adapter-dropdown-list{
  font-size: 12px;
}

.wallet-adapter-dropdown-list-item{
  font-size: 12px;
  padding: 0 10px;
  height: 20px;
}